[submodule "googlemock"]
	path = googlemock
	url = https://github.com/ericsubach/googlemock.git
[submodule "cppspec"]
	path = cppspec
	url = https://github.com/d-led/cppspec.git
[submodule "cucumber-cpp"]
	path = cucumber-cpp
	url = https://github.com/d-led/cucumber-cpp.git
[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
